@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .dark-mode {
    @apply bg-background text-primary;
  }
  .card {
    @apply p-4 bg-background rounded shadow hover:border hover:border-neonGreen transition-all duration-300;
  }
  .btn-neon {
    @apply mt-4 px-4 py-2 bg-secondary text-primary rounded border border-neonGreen hover:bg-neonGreen hover:text-background transition-all duration-300;
  }
}

/* html {
  scroll-behavior: smooth;
}


.btn-neon {
  background-color: #00ff00;
  color: #000;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.btn-neon:hover {
  background-color: #00e600;
  transform: translateY(-2px);
} */


html {
  scroll-behavior: smooth;
}

.dark-mode {
  --bg-color: #1e1e1e;
  --primary-color: #ffffff;
  --secondary-color: #c0c0c0;
  --border-color: #333333;
}

body.dark-mode {
  background-color: var(--bg-color);
  color: var(--primary-color);
}

.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.border-borderGray {
  border-color: var(--border-color);
}

.card {
  background-color: #2a2a2a;
  padding: 16px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
}

.btn-neon {
  background-color: #00ff00;
  color: #000;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.btn-neon:hover {
  background-color: #00e600;
  transform: translateY(-2px);
}
